.navBar{
    background-color:gray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height:10vh;
    font-size:110%;
}

#allTasksBadge{
    justify-self:end;
}

.navButton {
    background-color: grey;
    border: none;
    /* color:rgba(0, 0, 0, 0.74); */
    /* font-size: x-large; */
    color: antiquewhite;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 25vw;
    border-radius:40%
  }

  .navHome{
    width: 40vw;
    background-color:grey;
    font-size: xx-large;
    color: antiquewhite;
  }