.formContainer{
    background-color: #282c34d2;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;

    /* The form inside this container is  centered horizontally and vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonContainer{
    justify-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }


 /* ---------------------input starts-------------------------------- */
.newTaskInput{
    padding: 8px;
    width: 80vw;
}

.newTaskInput:hover{
    border-left: solid .5vh rgb(202, 15, 15);
}

.newTaskDetail{
    padding: 8px;
    width: 80vw;
}

.newTaskDetail:hover{
    border-left: solid .5vh rgb(202, 15, 15);
}
 /* ---------------------input ends-------------------------------- */
  /* ------------------buttons starts-------------------------------- */

  .formButton {
    background-color: rgba(245, 245, 245, 0.897); 
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 40vw
  }

  .formButton:hover{
    border-left: solid .5vh yellow;
}
  
  .clicked {background-color:grey;} 

  .link {
    padding: 15px; 
    width: 20vh; 
    font-size: calc(3px + 2vmin); 
    color: whitesmoke;
}

 /* ------------------buttons ends-------------------------------- */







