.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TaskGroupRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.TaskGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: solid white 5px;
  height: 40vh;
  width: 40vW;
  margin: 0px 20px;
  
  }

  .UrgentImp{

    background-color: #99CC00;
    border-radius: 5% 0% 30% 0%;
  }

  .notUrgentImp{
    
    background-color: #36A4DD;
    border-radius: 0% 5% 0% 30%;
  }

  .UrgentNotImp{

    background-color: #FF9F00;
    border-radius: 0% 30% 0% 5%;
  }

  .notUrgentNotImp{
    
    background-color: #FF4D4E;
    border-radius: 30% 0% 5% 0%;
  }

  .AddHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: red;
    height: 15vh;
    width: 15vw;
    border-radius: 50% 50% 50% 50%;
  }

